<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
  </configSections>
  <appSettings>
    <add key="StorageRoot" value="~/Storage/" />
    <add key="CacheRoot" value="~/Cache/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <clear />
      <add path="*" verb="GET" type="ImageButler.RequestHandlerImpl, ImageButler" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <clear />
      <add name="RequestHandler" path="*" verb="GET" type="DemoSite.RequestHandlerImpl, DemoSite" />
    </handlers>
  </system.webServer>
  <dotless minifyCss="false" cache="true" web="false" />
</configuration>