<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dynamicMediaFormatMappings" type="Bombsquad.DynamicMedia.Configuration.FormatInfoResolverConfiguration, Bombsquad.DynamicMedia" />
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
  </configSections>
  <appSettings>
    <add key="StorageRoot" value="~/Storage/" />
    <add key="CacheRoot" value="~/Cache/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <clear />
      <add path="*" verb="GET" type="DemoSite.DynamicMediaHandler, DemoSite" />
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <clear />
      <add name="RequestHandler" path="*" verb="GET,HEAD" type="DemoSite.DynamicMediaHandler, DemoSite" />
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    </handlers>
  </system.webServer>
  <dynamicMediaFormatMappings>
    <mappings>
      <add extension=".js" contentType="text/javascript" allowCompression="true" clientCacheMaxAge="86400" />
      <add extension=".json" contentType="application/json" allowCompression="true" clientCacheMaxAge="86400" />
      <add extension=".less" contentType="stylesheet/less" allowCompression="true" clientCacheMaxAge="86400" />
      <add extension=".css" contentType="text/css" allowCompression="true" clientCacheMaxAge="86400" />
      <add extension=".jpg" contentType="image/jpeg" clientCacheMaxAge="2592000" />
      <add extension=".jpeg" contentType="image/jpeg" clientCacheMaxAge="2592000" />
      <add extension=".png" contentType="image/png" clientCacheMaxAge="2592000" />
      <add extension=".gif" contentType="image/gif" clientCacheMaxAge="2592000" />
      <add extension=".html" contentType="text/html" allowCompression="true" clientCacheMaxAge="86400" />
      <add extension=".htm" contentType="text/html" allowCompression="true" clientCacheMaxAge="86400" />
      <add extension=".txt" contentType="text/plain" allowCompression="true" clientCacheMaxAge="86400" />
      <add extension=".xml" contentType="text/xml" allowCompression="true" clientCacheMaxAge="86400" />
      <add extension=".md" contentType="text/plain" allowCompression="true" clientCacheMaxAge="86400" />
      <add extension=".markdown" contentType="text/plain" allowCompression="true" clientCacheMaxAge="86400" />
    </mappings>
  </dynamicMediaFormatMappings>
  <dotless minifyCss="false" cache="true" web="false" />
</configuration>