<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dynamicMediaFormatMappings" type="Bombsquad.DynamicMedia.Configuration.FormatInfoResolverConfiguration, Bombsquad.DynamicMedia" />
  </configSections>
  <appSettings>
    <add key="StorageRoot" value="~/Storage/" />
    <add key="CacheRoot" value="~/Cache/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <clear />
      <add path="*" verb="GET" type="DemoSite.RequestHandlerImpl, DemoSite" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <clear />
      <add name="RequestHandler" path="*" verb="GET" type="DemoSite.RequestHandlerImpl, DemoSite" />
    </handlers>
  </system.webServer>
  <dynamicMediaFormatMappings>
    <mappings>
      <add extension=".js" contentType="text/javascript" />
      <add extension=".less" contentType="stylesheet/less" />
      <add extension=".css" contentType="text/css" />
      <add extension=".jpg" contentType="image/jpeg" />
      <add extension=".jpeg" contentType="image/jpeg" />
      <add extension=".png" contentType="image/png" />
      <add extension=".gif" contentType="image/gif" />
      <add extension=".html" contentType="text/html" />
      <add extension=".htm" contentType="text/html" />
      <add extension=".txt" contentType="plain/text" />
      <add extension=".xml" contentType="text/xml" />
    </mappings>
  </dynamicMediaFormatMappings>
</configuration>